.OrderInfo {
  max-width: 900px;
  margin: 0 auto;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .title {
      margin-bottom: 0;
    }

    &__left,
    &__right {
      align-items: center;
      display: flex;
    }
  }

  .info-label {
    font-weight: 500;
    margin-bottom: 4px;
    color: var(--text-faded);
  }

  .order-info {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;

    thead {
      font-weight: 500;
      color: var(--font-faded);
      text-transform: uppercase;
    }
    tr {
      border-bottom: 1px solid var(--border);
      height: 50px;
    }

    .total {
      text-transform: uppercase;
      border-bottom: none;
      font-weight: 500;
    }
  }

  .label {
    position: relative;
    padding-left: 36px;
    line-height: 28px;
    color: var(--text);
    font-weight: 500;
    text-transform: capitalize;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 28px;
      height: 28px;
      border-radius: 14px;
    }

    &.cancelled::before {
      background-color: var(--grey);
    }

    &.processing::before {
      background-color: var(--orange);
    }

    &.confirmed::before {
      background-color: var(--blue);
    }

    &.completed::before {
      background-color: var(--green);
    }
  }

  .general-info {
    border-collapse: collapse;
    width: 100%;

    tr {
      height: 50px;
    }

    tr:not(:last-child) td {
      border-bottom: 1px solid var(--border);
    }

    td {
      padding-top: 12px;
      padding-bottom: 12px;

      &:first-child {
        font-size: 0.75rem;
        letter-spacing: 0.07272727em;
        font-weight: 500;
        width: 175px;
        color: var(--text-faded);
        text-transform: uppercase;
      }

      &:last-child {
        padding-right: 30px;
      }
    }
  }

  .summary {
    line-height: 28px;

    &__line-item,
    &__total {
      display: flex;
      justify-content: space-between;
    }

    &__line-item {
      color: var(--text-faded);
      margin-bottom: 8px;
    }

    &__total {
      border-top: 1px solid var(--border);
      padding-top: 8px;
      font-weight: 500;
    }
  }

  .confirmation {
    border-top: 1px solid var(--border);
    margin-top: 24px;
    margin-left: -16px;
    margin-right: -16px;
    padding: var(--padding) var(--padding) 0;
    display: flex;
    justify-content: flex-end;

    & > * {
      margin-left: 8px;
    }

    @media (min-width: 768px) {
      margin-left: -24px;
      margin-right: -24px;
    }
  }
}
