.Appbar {
  background-color: var(--primary);
  color: var(--text-white);
  position: sticky;
  top: 0;
  margin-bottom: 16px;
  padding-right: 16px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.Appbar__profileIcon {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .Appbar {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 24px;
  }

  .Appbar__menu {
    /* Overwrites Material stylings */
    display: none !important;
  }
}

.Appbar__profileButton {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  padding: 0;
}