.Admin {
  .admin__top {
    display: flex;
    justify-content: space-between;
  }

  &__accounts {
    padding: 0;

    @media (min-width: 768px) {
      padding: 0 0 8px;
    }
  }

  &__account {
    height: 50px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);

    .MuiInput-root {
      border-radius: 4px;
      overflow: hidden;

      &::before,
      &::after {
        content: none;
      }
    }

    .MuiSelect-root {
      padding-left: 8px;
      color: var(--text-faded);
    }
  }
}

.MuiListItem-root[data-value='delete-user'] {
  border-top: 1px solid var(--border);
}
