.SalesOrderInfo {
  max-width: 900px;
  margin: 0 auto;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .title {
      margin-bottom: 0;
    }

    &__left,
    &__right {
      align-items: center;
      display: flex;
    }
  }

  .label {
    font-weight: 500;
    margin-bottom: 4px;
    color: var(--text-faded);
  }

  .summary {
    line-height: 28px;

    &__line {
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--border);
      &__info {
        color: var(--text-faded);
      }
      &__status {
        text-transform: capitalize;
      }
    }
  }

  .status {
    text-transform: capitalize;
  }

  .general-info {
    border-collapse: collapse;
    width: 100%;

    tr {
      height: 50px;
    }

    tr:not(:last-child) td {
      border-bottom: 1px solid var(--border);
    }

    td {
      padding-top: 12px;
      padding-bottom: 12px;

      &:first-child {
        font-size: 0.75rem;
        letter-spacing: 0.07272727em;
        font-weight: 500;
        width: 175px;
        color: var(--text-faded);
        text-transform: uppercase;
      }

      &:last-child {
        padding-right: 30px;
      }
    }
  }

  .order-info {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;

    thead {
      font-weight: 500;
      color: var(--font-faded);
      text-transform: uppercase;
    }
    tr {
      border-bottom: 1px solid var(--border);
      height: 50px;
    }

    .total {
      text-transform: uppercase;
      border-bottom: none;
      font-weight: 500;
    }

    .missing {
      padding-left: 10px;
      .MuiChip-root {
        background-color: var(--red);
      }
    }
  }

  .confirmation {
    border-top: 1px solid var(--border);
    margin-top: 24px;
    margin-left: -16px;
    margin-right: -16px;
    padding: var(--padding) var(--padding) 0;
    display: flex;
    justify-content: flex-end;

    & > * {
      margin-left: 8px;
    }

    @media (min-width: 768px) {
      margin-left: -24px;
      margin-right: -24px;
    }
  }
}
